<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.project.mapper.DlClassTeacherMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.company.project.entity.DlClassTeacherEntity" id="dlClassTeacherMap">
        <result property="id" column="id"/>
        <result property="teacherId" column="teacher_id"/>
        <result property="courseId" column="course_id"/>
        <result property="classId" column="class_id"/>
        <result property="termId" column="term_id"/>
    </resultMap>


    <select id="getListByGradeId" resultMap="dlClassTeacherMap" parameterType="String">
        select * from dl_class_teacher where class_id in (select id from dl_class where grade_id=#{greadId});
    </select>


    <select id="getArrCourseClassTeacherListByArrIdAndTermId" resultMap="dlClassTeacherMap" parameterType="java.util.Map">
        SELECT t.* from dl_arr_grade a
        JOIN dl_class c ON a.grade_id=c.grade_id
        JOIN dl_class_teacher t ON c.id=t.class_id
        where a.arr_id=#{arrId} and t.term_id=#{termId} and a.term_id=#{termId}
    </select>

</mapper>