<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.project.mapper.DlTestItemMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.company.project.entity.DlTestItemEntity" id="dlTestItemMap">
        <result property="id" column="id"/>
        <result property="testId" column="test_id"/>
        <result property="questionType" column="question_type"/>
        <result property="name" column="name"/>
        <result property="describe" column="describe"/>
        <result property="score" column="score"/>
        <result property="sort" column="sort"/>
    </resultMap>


</mapper>